package pages

type Skills = map[string][]string

type Projects = map[string][]Project

type Project struct {
	Name        string
	Description string
	Tags        []string
	Github      string
	Live        string
	Image       string
}

templ Home(skills Skills, skillKeys []string, projects Projects, projectKeys []string) {
	<h1>benmarshall</h1>
	<div>
		<p>software developer specializing in web technologies</p>
		<a href="https://www.linkedin.com/in/benjamin-marshall-609906196/" target="_blank" rel="noopener noreferrer">linkedin</a>
		<a href="https://github.com/benleem" target="_blank" rel="noopener noreferrer">github</a>
	</div>
	<div class="tree-wrapper">
		<ul class="tree">
			<li>
				<p style="margin-bottom: 0;">
					<strong>~/skills</strong>
				</p>
				<ul class="incremental">
					for _, key := range skillKeys {
						<li>
							{ key }
							<ul class="incremental">
								for _, skill := range skills[key] {
									<li>
										{ skill }
										<br/>
									</li>
								}
							</ul>
						</li>
					}
					// <li>
					// 	tools
					// 	<ul class="incremental">
					// 		<li>
					// 			git
					// 			<br/>
					// 		</li>
					// 	</ul>
					// </li>
					// <li>
					// 	languages
					// 	<ul class="incremental">
					// 		<li>
					// 			golang
					// 			<br/>
					// 		</li>
					// 		<li>
					// 			typescript
					// 			<br/>
					// 		</li>
					// 		<li>
					// 			javascript
					// 			<br/>
					// 		</li>
					// 	</ul>
					// </li>
					// <li>
					// 	technologies
					// 	<ul class="incremental">
					// 		<li>
					// 			docker
					// 			<br/>
					// 		</li>
					// 		<li>
					// 			html
					// 			<br/>
					// 		</li>
					// 		<li>
					// 			css
					// 			<br/>
					// 		</li>
					// 		<li>
					// 			tailwind
					// 			<br/>
					// 		</li>
					// 		<li>
					// 			react
					// 			<br/>
					// 		</li>
					// 		<li>
					// 			nextjs
					// 			<br/>
					// 		</li>
					// 		<li>
					// 			htmx
					// 			<br/>
					// 		</li>
					// 	</ul>
					// </li>
				</ul>
			</li>
		</ul>
		<div>
			<img src="/static/assets/cyberslug-nobg.png" alt="cyberslug" srcset=""/>
		</div>
	</div>
	for _, key := range projectKeys {
		<h2>{ key }</h2>
		<table>
			// <thead>
			// 	<tr>
			// 		<th class="width-min">
			// 			Name
			// 		</th>
			// 		<th class="width-auto"></th>
			// 	</tr>
			// </thead>
			<tbody>
				for _, project := range projects[key] {
					<tr>
						<td class="width-min">
							{ project.Name }
						</td>
						<td class="width-auto">
							{ project.Description }
						</td>
					</tr>
				}
			</tbody>
		</table>
	}
	// <h2>Experience</h2>
	// <table>
	// 	<thead>
	// 		<tr>
	// 			<th class="width-min">
	// 				Name
	// 			</th>
	// 			<th class="width-auto">
	// 				Description
	// 			</th>
	// 		</tr>
	// 	</thead>
	// 	<tbody>
	// 		<tr>
	// 			<td>
	// 				Love Together
	// 			</td>
	// 			<td>
	// 				this is a description
	// 			</td>
	// 		</tr>
	// 	</tbody>
	// </table>
	// <h2>Projects</h2>
	// <table>
	// 	<thead>
	// 		<tr>
	// 			<th class="width-min">
	// 				Name
	// 			</th>
	// 			<th class="width-auto">
	// 				Description
	// 			</th>
	// 		</tr>
	// 	</thead>
	// 	<tbody>
	// 		<tr>
	// 			<td>prattl</td>
	// 			<td>
	// 				215.25m × 215.25m × 136.4m
	// 			</td>
	// 		</tr>
	// 		<tr>
	// 			<td>
	// 				3ohtwo
	// 			</td>
	// 			<td>
	// 				215.25m × 215.25m × 136.4m
	// 			</td>
	// 		</tr>
	// 		<tr>
	// 			<td>
	// 				goscrape				
	// 			</td>
	// 			<td>
	// 				1.41m × 1.41m × 4.87m
	// 			</td>
	// 		</tr>
	// 	</tbody>
	// </table>
	<hr/>
	// <h2>Contact</h2>
	<p>contact me pls</p>
	// <table class="header">
	// 	<tr>
	// 		<td colspan="2" rowspan="2" class="width-auto">
	// 			<h1 class="title">benmarshall</h1>
	// 			<span class="subtitle">software developer, cyber curious</span>
	// 		</td>
	// 		<th>Version</th>
	// 		<td class="width-min">v0.1.5</td>
	// 	</tr>
	// 	<tr>
	// 		<th>Updated</th>
	// 		<td class="width-min"><time style="white-space: pre;">2025-01-25</time></td>
	// 	</tr>
	// 	<tr>
	// 		<th class="width-min">Author</th>
	// 		<td class="width-auto">
	// 			<a href="https://wickstrom.tech">
	// 				<cite>
	// 					Oskar
	// 					Wickström
	// 				</cite>
	// 			</a>
	// 		</td>
	// 		<th class="width-min">License</th>
	// 		<td>MIT</td>
	// 	</tr>
	// </table>
}

templ projectRow() {
	// <ul>
	// 	for _, item := range items {
	// 		<li>{ item.Name }</li>
	// 	}
	// </ul>
}
