<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0, maximum-scale=1.0"
		/>
		<link rel="stylesheet" href="/public/styles/tw.css" />
		<title>{{block "title" .}}{{end}}</title>
		<script
			src="https://unpkg.com/htmx.org@2.0.1"
			integrity="sha384-QWGpdj554B4ETpJJC9z+ZHJcA/i59TyjxEPXiiUgN2WmTyV5OEZWCD6gQhgkdpB/"
			crossorigin="anonymous"
		></script>
	</head>
	<body>
		{{template "header.html" .}}
		<main class="bg-emerald-500">{{block "content" .}}{{end}}</main>
		{{template "footer.html" .}}
	</body>
</html>
