@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	* {
		box-sizing: border-box;
		padding: 0;
		margin: 0;
		color: #a3a3a3;
		font-family: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
		/* font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
			"Liberation Mono", "Courier New", monospace; */
	}

	html {
		background: hsla(0, 0%, 5%, 1);
	}

	html,
	body,
	main {
		height: 100%;
		width: 100%;
	}

	/* grid-area: row start, column start, row end, column end */
	.works-grid > li:nth-child(1) {
		grid-area: 1 / 1 / 7 / 7;
		transform-origin: top left;
	}
	.works-grid > li:nth-child(2) {
		grid-area: 1 / 7 / 4 / 13;
		transform-origin: top right;
	}
	.works-grid > li:nth-child(3) {
		grid-area: 4 / 7 / 7 / 13;
		transform-origin: bottom right;
	}
	.works-grid > li:nth-child(4) {
		grid-area: 7 / 1 / 13 / 4;
		transform-origin: bottom left;
	}
	.works-grid > li:nth-child(5) {
		grid-area: 7 / 4 / 10 / 9;
		transform-origin: center center;
	}
	.works-grid > li:nth-child(6) {
		grid-area: 10 / 6 / 13 / 10;
		transform-origin: center bottom;
	}
	.works-grid > li:nth-child(7) {
		grid-area: 8 / 10 / 11 / 13;
		transform-origin: center right;
	}
}

@layer utilities {
	.text-vertical {
		writing-mode: vertical-rl;
		transform: rotate(180deg);
		text-orientation: mixed;
	}
}
